html {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit;
}

span {
  font-weight: bold;
}

ul {
  padding: 10px;
  margin: 10px;
  border: 1px solid #000000;
  border-radius: 10px;
}

li {
  list-style-type: none;
}
