@use './foundation' as *;

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
  color: $font-color;
  font-weight: 600;
}

h1 { font-size: 3.2rem; }
h2 { font-size: 2.8rem; }
h3 { font-size: 2.4rem; }

p {
  font-size: 1.6rem;
  font-family: $content-font;
  margin-bottom: 1.6rem; // spacing between paragraphs
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.2s ease;
}

button {
  cursor: pointer;
  border: none;
  font-family: $content-font;
}
