@use '../config/foundation' as *;

html {
  font-size: 62.5%; // 1rem = 10px
  box-sizing: border-box;
  scroll-behavior: smooth; // Smooth scrolling on the whole website
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  max-width: 90%; // keeps page centered
  background: $app-BG;
  font-family: $content-font;
  color: $font-color;
  line-height: 1.6; // readable text spacing
}
