$app-BG: #f9f9f9;
$grey-50: #fafafa;
$grey-100: #f5f5f5;
$grey-200: #eeeeee;
$grey-300: #e0e0e0;
$font-color: #212121;
$button-color: #3d5afe;
$button-secColor: #00e676;

$title-font: 'Gruppo', sans-serif; // We will use this for main titles (Webphin)
$heading-font: 'Montserrat', sans-serif; // We will use this for headings (h1, h2, h3, h4, h5, h6)
$content-font: 'Poppins', sans-serif; // We will use this for main content (paragraphs, lists, etc)
$tag-font: 'Lato', sans-serif; // We will use this for tags and small text
$small-text-font: 'Lato', sans-serif; // We will use this for small texts (captions, labels, etc)
$special-font: 'Dancing Script', cursive; // We will use this for special highlights and accents
