@use '../config/foundation' as *;

.header {
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &_part1 {
    display: flex;
  }
  .title {
    display: flex;
    gap: 1rem;
    margin-right: 5rem;
  }
  .navbar ul {
    display: flex;
    gap: 2rem;
  }
  .cta {
    display: flex;
    gap: 2rem;
  }
  li {
    list-style-type: none;
  }
  a {
    text-decoration: none;
  }
  button {
    padding: 1rem;
    border: none;
    background-color: $app-BG;
  }
}
